
/* home page link styling starts*/
h1 a {
	text-decoration: none;
	background-color: none;
    color:#ffffff;
	font-family: 'Futura', monospace;
	font-size: 65px;  
}
/* home page link styling ends*/

/*nav styling starts*/

section.navigation nav ul {
	display: flex;
	list-style: none;
	background-color: rgb(255, 255, 255);
  	color:#FFFFFF;
    font-family: 'Futura',monospace;
    text-align: center;
	justify-content: space-around;

}
section.navigation nav ul li a{
	display: flex;
	list-style: none;
	background-color: #ffffff;
	color:#000000;
	font-family: 'Futura',monospace;
	text-decoration: none;
	padding:1px,1px;
    padding-left: 110px;
    padding-right:110px;
    text-align:center;
	
}

section.navigation nav ul li a:hover{
	display: flex;
	list-style: none;
	font-family: "Futura", monospace;
	align-content:center;
	background-color:#000000;
	 color:#00ffff;
    text-align:center;


}
/*nav styling ends*/
/*overall body */
body {
	background:#000000;
	 font-size: 27px;
   font-weight: 300;
   line-height: 1.65em; 
 }
 /*overall body */
 section.hero h2{
	background-color:none;
	text-align: center;
	color:#ffffff;
	font-family: "Futura", monospace;
    font-size:55px;
}
section.article1 {
	background-color:none;
	text-align: left;
	color:#ffffff;
	font-family: "Arial ", monospace;
    font-size:45px;
}
section.ourstory {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color:#ffffff;
  font-family: "font-family: Helvetica, sans-serif;", monospace;
  font-size:24px;
  text-align:center;
}
aside {
	display: flex;
	list-style: none;
	text-decoration: none;
	color:#ffffff;
	font-family: "Futura", monospace;
	font-size:20px;
}
aside,li ,a{
	display: flex;
	list-style: none;
	text-decoration: none;
	border-radius: 15px 50px 30px 5px;
	color:#d58cff;
	font-family: "Futura", monospace;
	font-size:20px;
	padding-left: 3px;
}
footer{
	background-color:none;
	text-align: center;
	color:#ffffff;
	font-family: "arial", monospace;
    font-size:10px;
}