
/* home page link styling starts*/
h1 a {
	text-decoration: none;
    color:#ffffff;
	font-family: 'Outer Space', monospace;
	font-size: 65px;  
}
/* home page link styling ends*/

/*nav styling starts*/
section.navigation nav ul {
	display:flex;
	list-style: none;
	background-color:#ffffff;
  	color:#FFFFFF;
    font-family: 'Futura',monospace;
    text-align: center;
}
section.navigation nav ul li a{
	display: flex;
	list-style: none;
	background-color: #ffffff;
	color:#000000;
	text-decoration: none;
	padding:1px,1px;
    padding-left: 110px;
    padding-right:110px;
    text-align:center;
	
}
section.navigation nav ul li a:hover{
	display: flex;
	list-style: none;
	align-content:center;
	background-color:#000000;
	 color:#00ffff;
    text-align:center;
}
/*nav styling ends*/
/*overall body */
body {
	background:#000000;
	 font-size: 27px;
   font-weight: 300;
   line-height: 1.65em; 
 }
 /*overall body */